
/*卡片el-card 通过边界框阴影实现响应式点击*/
.card-hover-transition {

    box-shadow: 0px 1px 20px -6px rgb(139, 138, 138) !important;
}
.card-hover-transition:hover{
    box-shadow: 2px 3px 20px -6px rgb(7 17 27) !important;
    transition: all .3s ease 0s;
}


