
/*卡片el-card 点击响应式*/
.card-hover-transition {

    box-shadow: 2px 3px 3px rgb(139, 138, 138) !important;
}
.card-hover-transition:hover{
    box-shadow: 2px 3px 10px rgb(7 17 27) !important;
    transition: all .3s ease 0s;
}
