.DS_Store
node_modules
/dist

# local env files
.env.local
.env.*.local


# Editor directories and files
.idea
target
.vscode
*.iml
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

application.yml
static/*
doc/jw_project开发文档正式版.docx
package-lock.json